@{
    ViewBag.Title = "Networth Tracker";
}


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>What's this site about?</h2>
        <p>
            This web application allow you to track your networth on a monthly basis.
        </p>
        <p>Here are the steps to get started:</p>
        <ul>
            <li>Register for an account (Make sure you use a strong password and don't use the same password on other sites)</li>
            <li>Add Account Types which could be Savings Account, Checking Account, Deposit etc.</li>
            <li>Add Asset Types which will later allow you to clasify each Account Type as one asset type. Typical Asset Types are Equity, Debt, Cash etc.</li>
            <li>Add Currencies you hold your investments/savings/debt in.</li>
            <li>Now Add Portfolio Accounts.</li>
            <li>For each portfolio account you can then add monthly value entries. These indicate the value of your accounts (they could be investments or debt etc) at the end of the given month.</li>
            <li>Analyze reports of your networth.</li>
        </ul>
    </div>
</div>